body {
    background-color: #5a9cdf;
    padding-top: 65px;
        
}

#nav-bar-cont {
    
    align-items: center;
    justify-content: center;
    display: flex;
    height: 8%;
    background-color: #5a9cdf
    
}

.nav-bar-icons {
    
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    
}

#footer-images-0:hover {
    content: url('img/home-icon-footer-hover.png');
    max-width: 100%;
    height: auto;
    
}

#footer-images-1:hover {
 content: url('img/about-me-icon-footer-hover.png');
 max-width: 100%;
 height: auto;
 
}

#footer-images-2:hover {
    content: url('img/graphic-design-icon-footer-hover.png');
    max-width: 100%;
    height: auto;
}

#footer-images-3:hover {
    content: url('img/web-design-icon-footer-hover.png');
    max-width: 100%;
    height: auto;
}

#footer-images-4:hover {
    content: url('img/contact-me-icon-footer-hover.png');
    max-width: 100%;
    height: auto;
}

#header-cont {
    background-image: url(img/banner-portfolio-second-edition.png);
    background-color:  #5a9cdf;
    align-items: center;
    height: auto;
    /*height: 65vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 3rem;   
              
}

#banner-portfolio-logo {
    width: 900px;
    max-width: 100%;
    height: auto; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
           
}

#banner-portfolio-text-1 {
    
    max-width: 100%;
    height: auto; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

#banner-portfolio-text-2 {

    max-width: 100%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
        
}

#section1 {
    background-image: url(img/section-about-me-blur.png);
    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8vh;
    padding-top: 10vh;
    padding-left: 6vw;
       
    /*display: block;*/
    
}

#section2 {
    background-image: url(img/section-graphic-design-blur.png);
    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8vh;
    padding-top: 10vh;
    padding-left: 6vw;
       
    /*display: block;*/
}

#section3 {
    background-image: url(img/section-web-design-blur.png);
    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8vh;
    padding-top: 10vh;
    padding-left: 6vw;
        
    /*display: block;*/

}

#section4 {
    background-image: url(img/section-contact-me-blur.png);

    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8vh;
    padding-top: 10vh;
    padding-left: 6vw;
          
    /*display: block;*/

}

#section-text {
    max-width: 100%;
    height: auto;
           
}

.footer-buttons {
max-height: 100%;    
height: 5rem;



}

#footer {
    background-color: #5a9cdf;
    
}

#footer-sections {
    align-content: center;
    
}

#footer-images {
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
        
}

#footer-nav-buttons {
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
        
}

#social-logos-container {
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    padding: 3%;
    
}

#footer-text {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
}

.newBg1 {
    background-image: url(img/lol1.png);
}

@font-face {
    font-family: Dhurjati-Regular;
    src: url('fonts/Dhurjati/Dhurjati-Regular.ttf');
}

/*@media screen and (min-width: 872px) {
    body { padding-top: 3rem; }
}*/

/*---------------ABOUT-ME-PAGE-STYLE--------------*/

#about-me-header-cont {
    background-image: url(img/about-me-page-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    
}

#title-pages {
    padding: 8vh;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    
}

/*------------GRAPHIC-DESIGN-SECTION-----------*/

#graphic-design-header-cont {
    background-image: url(img/graphic-design-page-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;

}

/*---------------WEB-DESIGN-SECTION------------*/

#web-design-header-cont {
    background-image: url(img/web-design-page-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;

}

/*--------------CONTACT-ME-SECTION--------------*/

#contact-me-header-cont {
    background-image: url(img/contact-me-page-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;


}