body {
    background-color: white;
    padding-top: 34px;
        
}

#nav-bar-cont {
    justify-content: center;
    margin: 0%;
    height: auto;
    background-color: #5a9cdf
    
}

#buttons-nav-bar {

    background-color: #ffffff;
    font-weight: bolder;
    color: #5a9cdf;

}


#buttons-nav-bar :hover {
 background-color: #ffffff;
 font-weight: bold;
 color: white;

}

#header-cont {
    background-image: url(img/banner-header-ver-2.png);
    align-items: center;
    height: auto;
    /*height: 65vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 3rem;   
              
}



#banner-portfolio-logo {
    width: 900px;
    max-width: 100%;
    height: auto; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
           
}

#banner-portfolio-text-1 {
    
    max-width: 100%;
    height: auto; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}


#banner-portfolio-text-2 {

    max-width: 100%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
        
}


#section1 {
    background-image: url(img/section-about-me.png);
    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8vh;
    padding-top: 10vh;
    padding-left: 6vw;
       
    /*display: block;*/
    
}

#section2 {
    background-image: url(img/section-graphic-design.png);
    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8vh;
    padding-top: 10vh;
    padding-left: 6vw;
       
    /*display: block;*/
}

#section3 {
    background-image: url(img/section-web-design.png);
    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8vh;
    padding-top: 10vh;
    padding-left: 6vw;
        
    /*display: block;*/

}

#section4 {
    background-image: url(img/section-contact-me.png);

    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8vh;
    padding-top: 10vh;
    padding-left: 6vw;
          
    /*display: block;*/

}

#section-text {
    
    max-width: 100%;
    height: auto;
           
}

#footer {
    background-color: #5a9cdf;
}

#footer-sections {
    align-content: center;
    padding: 3vh;    

}

#footer-images {
    padding: 2%;
    margin-right: auto;
    margin-left: auto;

}


#social-logos-container {
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    
}

#footer-text {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
}


@font-face {
    font-family: Dhurjati-Regular;
    src: url('fonts/Dhurjati/Dhurjati-Regular.ttf');
}

/*@media screen and (min-width: 872px) {
    body { padding-top: 3rem; }
}*/



