@font-face {
    font-family: Dhurjati-Regular;
    src: url('fonts/Dhurjati/Dhurjati-Regular.ttf');
}

body {
    display:inline-block;
    position:relative;
    background-color: white;
    
}

#header-cont {
    background-image: url(img/banner-header-ver-2.png);
    align-items: center;
    height: auto;
    /*height: 65vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   padding: 5rem;   
    
          
}

/*#cont-log {
    align-content: center;
    height:auto;
    position: relative;
    

}

#cont-text {
    align-content: left;
    height:auto;
    position: relative;
    
    
   
    
}*/

#banner-portfolio-logo {
    width: 900px;
    max-width: 100%;
    height: auto; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    

    

}

#banner-portfolio-text-1 {
    
    max-width: 100%;
    height: auto; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
   

}


#banner-portfolio-text-2 {

    max-width: 100%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
    
}


#section1 {
    background-image: url(img/section-about-me.png);
    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
   
    /*display: block;*/
    



}

#section2 {
    background-image: url(img/section-graphic-design.png);
    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   
    
    /*display: block;*/

}

#section3 {
    background-image: url(img/section-web-design.png);
    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
    
    /*display: block;*/


}

#section4 {
    background-image: url(img/section-contact-me.png);

    /*background-attachment: fixed;*/
    align-items: center;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
    
    
    /*display: block;*/


}

#section-text {
    
    max-width: 100%;
    height: auto; 
    /*position: relative;
    top: 210px;
    left: 10px;*/
    
    
    
    

}


/*Hovering an image is possible through CSS only and some JavaScript Commands 
the once you may find inside the INDEX*/

